.text {width: 34em; text-align: center; margin: 0 auto;}
.left {text-align: left;}
.listing {width: 40em; text-align: center; margin: 0 auto;}
.footer {width: 34em; text-align: center; margin: 0 auto;}
